@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello from Team Maui!</h1>
    <p>Let's get you checked in so you have access to the network!</a>.</p>
</div>
